// ADD PREDEFINED MACROS HERE!
#define JUMBO_FRAME
#define MAX_NUM_CCs 1
#define USER_MODE
#define NB_ANTENNAS_RX 2
#define NB_ANTENNAS_TXRX 2
#define NB_ANTENNAS_TX 2
#define OPENAIR_LTE
#define PUCCH
#define MAC_CONTEXT 1
#define PHY_CONTEXT 1
#define PHY_ABSTRACTION
#define NEW_FFT
#define PACKAGE_NAME "oaisim"
#define OAISIM
#define LINUX
#define Rel8
#define NAS_NETLINK
#define LINUX
#define ENABLE_FXP
#define OAI_EMU
#define ENABLE_USE_CPU_EXECUTION_TIME
#define XER_PRINT
#define LOG_NO_THREAD
#define ENABLE_VCD_FIFO
#define ENABLE_NEW_MULTICAST
#define ENABLE_PDCP_NETLINK_FIFO
#define ENABLE_PGM_TRANSPORT
#define OPENAIR2
#define ASSERT
#define NO_RRM
#define MIH_C_MEDIEVAL_EXTENSIONS
